@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:300,400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter");

html {
  font-family: "Quicksand", sans-serif;
}

input:focus,
button:focus,
select:focus {
  outline: none !important;
}

button::active {
  @apply outline-none;
}

.font-inter {
  font-family: Inter, san-serif;
}

.font-roboto {
  font-family: Roboto, san-serif;
}

*:focus-visible {
  @apply outline-none;
}

.ReactCollapse--collapse {
  transition: height 100ms;
}

.swiper-button-prev,
.swiper-button-next {
  color: rgb(40, 40, 40);
}

.hide-number-type-arrow::-webkit-outer-spin-button,
.hide-number-type-arrow::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.hide-number-type-arrow[type="number"] {
  -moz-appearance: textfield;
}

.btn {
  @apply w-full border-2 p-2 transition-colors font-medium text-center;
}

.btn.dark {
  @apply bg-dark text-white border-transparent hover:border-dark hover:text-black hover:bg-white;
}

.btn.white {
  @apply bg-white border-dark hover:bg-dark hover:text-white;
}

.flex-center {
  @apply flex justify-center items-center min-w-0;
}

.admin-input {
  @apply w-full bg-admin-100 border font-semibold p-2 rounded-lg text-gray-500;
}

#nprogress .bar {
  background: black !important;
}

.mce > * {
  @apply !mt-0 !mb-3;
}

.fade-enter{
   opacity: 0;
}
.fade-exit{
   opacity: 1;
}
.fade-enter-active{
   opacity: 1;
}
.fade-exit-active{
   opacity: 0;
}
.fade-enter-active,
.fade-exit-active{
   transition: opacity 120ms;
}
